body {
  font-family: fantasy;
  color: grey;
}
h1 {
  text-align: center;
  color: magenta;
  font-size: 50px;
}
h2 {
  text-align: center;
  color: chartreuse;
}
h3 {
  font-family: cursive;
}
h4 {
  font-weight: bolder;
}
p {
  font-style: italic;
}
ul {
  line-height: 30px;
}
ol {
  line-height: 30px;
}
